.auth-card {
    background-color: var(--light-color);
    color: #000;
    width: 100%;
    height: 70vh;
    z-index: 110;
    padding: 1rem 1rem;
}

.auth-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.auth-header {
    padding: 1rem 2rem;
}

.auth-form,
.auth-form-group {
    margin: 1.2rem 0;
    text-align: left;
    font-weight: 1000;
}

.auth-form-group input[type='text'],
.auth-form-group input[type='email'],
.auth-form-group input[type='password'] {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.auth-nav {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
}

.auth-nav > li {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    color: white;
}
