[contenteditable='true'] {
    outline: none;
    border: 1px solid $color-grey-3;
    border-radius: 0.5rem;
    transition: border 0.2s;
    padding: 0.75rem 1.5rem;

    &:focus,
    &:hover {
        outline: none;
        border: 1px solid $color-primary;
    }
}

.ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
}
