[contenteditable='true'] {
    outline: none;
    border: 1px solid var(--dark-grey-color);
    transition: border 0.2s;
}

[contenteditable='true']:focus,
[contenteditable='true']:hover {
    border: 1px solid var(--primary-color);
}

.rich-buttons {
    display: flex;
}

.rich-buttons .right {
    margin-left: auto;
}

.rich-buttons a {
    margin: 0 5px;
}
