section {
    margin-bottom: 8rem;
}

main {
    margin-top: 80px;
    width: 100%;
}

.container {
    max-width: 130rem;
    margin: 14rem auto;
    padding: 0 2rem;
}

.main-content-area {
    display: flex;
    height: calc(100vh - 135px);
}

.main-content-area .main-content {
    margin-top: 2rem;
    overflow-y: scroll;
    padding: 0 15%;
    flex-grow: 1;

    @media only screen and (max-width: 87.5em) {
        padding: 0 5%;
    }

    @media only screen and (max-width: 50em) {
        padding: 0 2%;
    }
}
