section {
    margin-bottom: 8rem;
}

main {
    margin-top: 80px;
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: 14rem auto;
}

.main-content-area {
    position: fixed;
    display: flex;
    top: 135px;
    width: 100%;
    height: calc(100% - 135px);
    z-index: 101;
}

.main-content-area .main-content {
    margin-top: 2rem;
    overflow-y: scroll;
    padding: 0 15%;
    flex-grow: 1;
}
