@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
    --primary-color: #7619cc;
    --dark-color: #252227;
    --light-color: #fcfcfc;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    color: var(--dark-color);
}

html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--light-color);
}

.main {
    margin-top: 3.8rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.main a:not(.btn) {
    color: var(--primary-color);
}

ul {
    list-style: none;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

section {
    margin-bottom: 4rem;
}
