:root {
    --primary-color: #6a17b8;
    --dark-color: #252227;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}
