.auth {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    color: $color-white;

    &__card {
        background-color: $color-white;
        width: 100%;
        z-index: 110;
        padding: 2rem 2rem;
        border-radius: 10px;
        color: $color-black;

        &__info {
            border: 1px solid $color-grey-3;
            padding: 1rem;
            font-size: 1.8rem;
            margin: 1rem;
            border-radius: 1rem;
            margin-left: 0;
            &--warning {
                color: $color-danger;
            }
        }
    }

    &__heading {
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    &__nav {
        margin: 2rem 0;
        padding: 0 2rem;
        display: flex;
        justify-content: space-around;
    }

    &__link {
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 900;
        cursor: pointer;

        &.active {
            border-bottom: 1px solid $color-white;
        }
    }

    &__label {
        margin: 2.4rem 0;
        display: block;
    }

    &__input--text {
        width: 100%;
        font-size: 2.4rem;
    }
}

.resend__link {
    color: $color-primary;
    cursor: pointer;
}

.google-btn {
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    a {
        display: block;
        justify-content: center;
        color: $color-white;
        background-color: $color-primary;
        padding: 1.5rem;
        border-radius: 1rem;
        margin: 2rem;
        letter-spacing: 0.1rem;
        transition: background-color 0.2s;
        &:hover {
            background-color: $color-primary-dark;
        }
    }
}
