.auth-card {
    background-color: var(--light-color);
    width: 100%;
    z-index: 110;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
}

.auth-header {
    padding: 1rem 2rem;
}

.auth-header .project-name {
    color: var(--light-color);
    text-align: center;
    margin-bottom: 4rem;
}

.auth-form,
.auth-form-group {
    margin: 1.2rem 0;
}

.auth-form-group input:not([type='submit']):not([type='checkbox']) {
    width: 100%;
    padding: 8px;
    font-size: 1.2rem;
    border: 1px solid var(--dark-grey-color);
}

.auth-form-group .btn {
    font-size: 1rem;
}

.auth-nav {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
}

.auth-nav a {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    color: var(--light-color);
}

.auth-nav a.active {
    border-bottom: 1px solid var(--light-color);
}
