.loading {
    display: block;
    margin: 0 auto;
    vertical-align: middle;

    &__circle {
        fill: none;
        stroke: $color-primary;
        transform-origin: center;
        animation: loading-circle 2s linear infinite;
    }

    &--inline {
        display: inline-block;
    }
}
