.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 10%;
    z-index: 100;
    background-color: var(--light-color);
}

.navbar ul {
    display: flex;
}

.navbar li {
    padding: 0 1.2rem;
}
