.star-rating {
    display: flex;
    margin-right: 5px;
}

.star-rating-full,
.star-rating-empty {
    height: 1.5rem;
}

.star-rating-full {
    background: url('../../img/5star-full.png');
    background-size: 7.5rem 1.5rem;
}

.star-rating-empty {
    background: url('../../img/5star-empty.png');
    background-size: 7.5rem 1.5rem;
    background-position: right;
}

/* For new rating */

.star-rating-new {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.star-rating-label {
    background: url('../../img/star-empty.png');
    background-size: 1.5rem 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}

.star-rating-label:hover,
.star-rating-label:hover ~ .star-rating-label {
    background: url('../../img/star-hover.png');
    background-size: 1.5rem 1.5rem;
}

.star-rating-input {
    display: none;
}

.star-rating-input:checked ~ .star-rating-label {
    background: url('../../img/star-full.png');
    background-size: 1.5rem 1.5rem;
}
