.topic-content {
    font-size: 2.4rem;

    &__link {
        display: inline-block;
        padding: 2rem;
        width: 100%;

        &--edit {
            width: calc(100% - 5rem);
        }
    }

    &__item:hover {
        background-color: $color-grey-2;
    }

    // Type of content
    &__text::before,
    &__video::before,
    &__test::before {
        font-weight: 700;
    }

    &__item &__text::before {
        content: 'Reading: ';
    }

    &__item &__video::before {
        content: 'Video: ';
    }

    &__item &__test::before {
        content: 'Test: ';
    }

    // Icon
    &__icon {
        display: none;
        margin-right: 2rem;
        width: 3rem;
        text-align: center;
    }

    &__item--text &__icon--text {
        display: inline-block;
        color: orange;
    }

    &__item--video &__icon--video {
        display: inline-block;
        color: red;
    }

    &__item--test &__icon--test {
        display: inline-block;
        color: blue;
    }

    &__item--completed &__icon--completed {
        display: inline-block;
        color: $color-success;
    }
}
