.topic-content {
    font-size: 2.4rem;

    &__link {
        display: inline-block;
        padding: 2rem;
        width: 100%;

        &--edit {
            width: calc(100% - 5rem);
        }
    }

    &__item:hover {
        background-color: $color-grey-2;
    }

    // Type of content
    &__text::before,
    &__video::before,
    &__test::before {
        font-weight: 700;
    }

    &__item &__text::before {
        content: 'Reading: ';
    }

    &__item &__video::before {
        content: 'Video: ';
    }

    &__item &__test::before {
        content: 'Test: ';
    }

    @include resource-icons;
}

.topic__deadline-input {
    padding: 0.5rem 1rem;
    width: 4.5rem;
    text-align: center;
}
