.main-content-area {
    position: fixed;
    display: flex;
    top: 135px;
    width: 100%;
    height: calc(100% - 135px);
}

.main-content-area .main-content {
    margin-top: 2rem;
    overflow-y: scroll;
    padding: 0 15%;
    flex-grow: 1;
}

.topic-content a {
    display: inline-block;
    padding: 1rem;
    width: 90%;
}

.topic-content a * {
    color: var(--dark-color);
}

.topic-content * {
    font-size: 1.2rem;
}

.topic-content li:hover {
    background-color: var(--grey-color);
}

/* Type of material */

.topic-content span::before {
    font-weight: 700;
}

.topic-content .video span::before {
    content: 'Video: ';
}

.topic-content .text span::before {
    content: 'Reading: ';
}

.topic-content .test span::before {
    content: 'Test: ';
}

/* Icons */

.topic-content li.video .video {
    display: inline-block;
}

.topic-content li.text .text {
    display: inline-block;
}

.topic-content li.test .test {
    display: inline-block;
}

.topic-content li.completed .completed {
    color: var(--primary-color);
    display: inline-block;
}

.topic-content li i,
.topic-content li.completed .video,
.topic-content li.completed .text,
.topic-content li.completed .test {
    display: none;
    width: 2rem;
}
