$color-primary: #7619cc;
$color-primary-dark: darken($color-primary, 10%);

$color-white: #fcfcfc;
$color-black: #252227;

$color-danger: #dc3545;
$color-success: #28a745;

$color-grey-1: #eee;
$color-grey-2: #d6d6d6;
$color-grey-3: #aaa;
