.add-new {
    display: flex;
    justify-content: space-between;
    max-height: 15px;
    overflow: hidden;
    transition: max-height 0.2s;
    transition-delay: 0.1s;
    border: 1px solid $color-grey-1;
    border-left: none;
    border-right: none;
    position: relative;

    &::after {
        content: '\2b';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        font-weight: 600;
        color: $color-primary;
        font-size: 2.5rem;
    }

    &:hover {
        max-height: 10rem;

        &::after {
            content: '';
        }
    }

    &:hover &__link {
        opacity: 1;
        visibility: visible;
    }

    &__link {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
        transition-delay: 0.1s;

        &:hover {
            color: $color-primary;
        }
    }

    &__icon {
        margin-right: 5px;
    }

    &__guide {
        display: inline-block;
        position: relative;
        background-color: $color-black;
        color: $color-white;
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -0.5rem;
            border-width: 0.5rem;
            border-style: solid;
            border-color: $color-black transparent transparent transparent;
        }
    }
}
