.add-new {
    width: 100%;
    min-height: 10px;
    position: relative;
    z-index: 1;
    margin: -5px 0;
    overflow: hidden;
}

.add-new a {
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: 0;
    overflow-y: hidden;
    max-height: 0;
    transition: 0.2s max-height;
}

.add-new a i.fas {
    display: inline-block;
}

.add-new:hover {
    padding: 30px;
}

.add-new:hover a {
    max-height: 50px;
}
