.progress-svg {
    display: block;
    margin-left: 5px;
}

.progress-svg circle {
    fill: none;
}

.progress-svg text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 0.6rem;
    fill: var(--primary-color);
}
