.course-header {
    padding: 8rem 20%;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr 1fr minmax(max-content, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 2rem;
    background-color: $color-black;
    color: $color-white;

    &__title,
    &__description {
        grid-column: 1/-1;
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__enroll {
        grid-row: 3/5;
        grid-column: 3/4;
    }

    &__delete {
        color: $color-danger;
        font-size: 3rem;
        margin-left: 2rem;
        cursor: pointer;
    }
}

.add-tags {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
        border: 1px solid $color-grey-2;
        height: 4rem;
        margin-left: 1rem;
        padding: 0 0.5rem;
    }

    &__tag {
        padding: 2px 0.7rem;
        margin: 2px 0.5rem;
        border-radius: 10rem;
        background-color: rgba($color-primary, 0.8);
        color: $color-white;

        &:first-child {
            margin-left: 0;
        }
    }

    &__delete {
        margin-left: 1rem;
        cursor: pointer;
    }

    &__input {
        border: none;
        background-color: $color-white;
    }
}

.course-description {
    box-shadow: 0 0 10px $color-black;
    padding: 2rem;
    border-radius: 10px;
}

.course-content {
    &__complete-icon {
        margin-left: 1rem;
        color: $color-success;
    }

    &__expire-icon {
        margin-left: 1rem;
        color: $color-danger;
    }

    @include resource-icons;

    &__reset {
        background-color: rgba($color-danger, 0.1);
        padding: 1.5rem 0;
        text-align: center;
        font-size: 2.2rem;

        &--link {
            display: inline-block;
            transition: color 0.2s;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 1rem;

            &:hover {
                color: $color-primary;
            }
        }
    }
}

.feedback {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 5px;
    align-items: center;

    &__big-rating {
        grid-row: 1/-1;
        justify-self: center;
        text-align: center;
    }

    &__big-text {
        font-size: 8rem;
    }

    &__bar {
        width: 100%;
        height: 2rem;
        background-color: $color-grey-2;
        border-radius: 5px;
    }

    &__bar-filled {
        height: 100%;
        background-color: $color-grey-3;
        border-radius: 5px;
    }

    &__rating {
        display: flex;
        align-items: center;
    }
}

.reviews {
    &__heading {
        border-bottom: 1px solid $color-grey-2;
    }
}
