header {
    height: 50vh;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.5) 49%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url('./img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 4rem;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 10%;
}

.hero-text {
    color: var(--light-color);
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.Landing h2 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.Landing .cards {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
}

.Landing .card {
    text-align: center;
    flex: 0 0 15%;
}

.Landing .card img {
    width: 100px;
    height: auto;
}

.Landing .card h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

.Landing .card p {
    font-size: 0.8rem;
}
