.search-bar {
    display: inline-block;
    position: relative;
    width: 40rem;

    &__input {
        width: 100%;
        vertical-align: middle;
        border-radius: 0.5rem;
        border: 1px solid $color-grey-2;
        padding: 0.75rem 1.5rem;
        padding-right: 4rem;
        transition: border 0.2s, transform 0.3s;

        &:focus {
            border: 1px solid $color-primary;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: calc(100% - 3rem);
        transform: translateY(-50%);
        cursor: pointer;
        transition: color 0.2s, left 0.3s;

        &:hover {
            color: $color-primary;
        }
    }

    &--small &__input {
        transform: scaleX(0.5) scaleY(0.8);
        padding-right: 1.5rem;

        &:focus {
            transform: scaleX(1) scaleY(1);
            padding-right: 4rem;

            &::placeholder {
                opacity: 0.5;
            }
        }

        &::placeholder {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &--small:hover &__input {
        transform: scaleX(1) scaleY(1);
        border: 1px solid $color-grey-3;
        padding-right: 4rem;
    }

    &--small &__icon {
        transform: translate(-50%, -50%);
        left: 50%;
        color: $color-grey-2;
    }

    &--small:hover &__icon,
    &--small &__input:focus + &__icon {
        left: calc(100% - 3rem);
        transform: translateY(-50%);
        color: $color-black;

        &:hover {
            color: $color-primary;
        }
    }

    &--small:hover &__input::placeholder {
        opacity: 0.5;
    }

    &__suggestions {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2rem);
        background-color: $color-white;
        z-index: 1;
        border: 1px solid $color-grey-2;
        border-top: none;
        border-bottom: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;

        li {
            text-align: center;
            padding: 0.75rem 1.5rem;
            cursor: pointer;
            transition: background-color 0.2s;

            &:last-child {
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                border-bottom: 1px solid $color-grey-2;
            }

            &:hover,
            &.selected {
                background-color: $color-grey-1;
            }

            .search-bar__found {
                color: $color-primary;
            }

            i {
                margin-right: 1rem;
            }
        }
    }

    &__input:focus ~ &__suggestions,
    &:hover &__suggestions {
        opacity: 1;
        visibility: visible;
    }
}
