.landing-header {
    height: 50vh;
    background-image: linear-gradient(
            to right,
            rgba($color-black, 0.9) 0%,
            rgba($color-black, 0.6) 49%,
            rgba($color-black, 0.9) 100%
        ),
        url('../img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-left: 10%;
    }

    &__text {
        color: $color-white;
        font-size: 5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 4rem;
        word-spacing: 4px;
        letter-spacing: 1px;
    }
}

.landing-goals {
    display: flex;
    max-width: 115rem;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__card {
        text-align: center;
        flex: 0 0 17rem;

        @media only screen and (max-width: 43.75em) {
            flex: 0 0 34%;
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: 25em) {
            flex: 0 0 80%;
        }
    }

    &__img {
        width: 10rem;
    }

    &__text {
        font-size: 1.6rem;
    }
}
