.course-page-content {
    width: 60%;
    margin: 4rem auto;
}

/* Header */

.course-header {
    padding: 4rem 20%;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1rem;
    background-color: var(--dark-color);
}

.course-header * {
    color: var(--light-color);
}

.header-title,
.header-description {
    grid-column: 1/-1;
}

.header-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-enroll {
    grid-row: 3/5;
    grid-column: 3/4;
}

/* Description */

.course-page-description {
    box-shadow: 0 0 10px var(--dark-color);
    padding: 1rem;
    border-radius: 10px;
}

/* Feeback */

.feedback {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 5px;
    align-items: center;
}

.big-rating {
    grid-row: 1/-1;
    justify-self: center;
    text-align: center;
}

.big-rating p {
    font-size: 4rem;
}

.feedback .bar {
    width: 100%;
    height: 1rem;
    background-color: var(--grey-color);
    border-radius: 5px;
}

.feedback .bar-filled {
    height: 100%;
    background-color: var(--dark-grey-color);
    border-radius: 5px;
}

.feedback .rating {
    display: flex;
    align-items: center;
}

/* Reviews */

.reviews h3,
.reviews li {
    border-bottom: 1px solid #eee;
}

.reviews li:not(.more) {
    padding: 2.5rem 0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 5px;
}

.reviews .date {
    color: #aaa;
}

.reviews .more {
    padding: 2.5rem;
    text-align: center;
}
