.sidebar {
    display: flex;

    &__close {
        padding: 2rem 1rem;
        background-color: $color-grey-2;
        box-shadow: 5px 0px 5px -5px $color-grey-3;

        @media only screen and (max-width: 25em) {
            padding: 2rem 0rem;
        }
    }

    &__btn {
        cursor: pointer;
        border: none;
        font-size: 3rem;
        background-color: $color-grey-2;
    }

    &__list {
        margin-top: 5px;
        width: 30rem;
        padding: 0 5px;
        overflow-y: scroll;
        transition: width 0.25s ease 0s;

        &--collapsed {
            width: 0;
            padding: 0;
        }
    }

    @include resource-icons;

    .icon::before {
        margin-right: 0;
    }

    &__complete-icon {
        margin-left: 1rem;
        color: $color-success;
    }
}
