.profile {
    &__email {
        color: $color-grey-3;
        margin-top: -3rem;
    }

    &__chart {
        height: 40rem;
        margin-bottom: 4rem;
    }

    &__level-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 1rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    &__level {
        width: 50rem;
        text-align: center;
    }

    &__title {
        font-size: 3rem;
        text-align: center;
    }

    &__learn-more {
        font-size: 1.5rem;
        vertical-align: middle;
        color: $color-grey-3;
        transition: color 0.2s;

        &:hover {
            color: $color-primary;
        }
    }
}

.profile-bar {
    width: 100%;
    height: 2rem;
    border-radius: 5rem;
    position: relative;
    border: 1px solid $color-grey-3;

    &__filled {
        height: 100%;
        background-color: $color-primary;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        position: relative;
    }

    &__text {
        position: absolute;
        top: 4rem;
        transform: translate(-50%, -50%);

        &--start {
            left: 0;
        }

        &--end {
            left: 100%;
        }

        &::before {
            content: '\25B4';
            position: absolute;
            top: -1.9rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &--exact {
            opacity: 0;
            left: 100%;
            top: -2.6rem;
            color: $color-primary;
            border: 1px solid $color-primary;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            transition: opacity 0.5s;
            background-color: $color-white;

            &::before {
                content: '\25BE';
                top: 2.3rem;
            }
        }
    }

    &:hover &__text--exact {
        opacity: 1;
    }
}
