.btn {
    border: 1px solid var(--primary-color);
    border-radius: 200px;
    padding: 10px 30px;
    margin-right: 30px;
    transition: opacity 0.2s, color 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-full {
    background-color: var(--primary-color);
}

.btn-ghost {
    color: var(--primary-color);
}

.btn-ghost:hover {
    color: var(--light-color);
    background-color: var(--primary-color);
}
