.btn {
    border: 1px solid var(--primary-color);
    border-radius: 200px;
    padding: 10px 30px;
    margin-right: 30px;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover {
    background-color: var(--dark-primary-color);
    border: 1px solid var(--dark-primary-color);
}

.btn-full {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-ghost {
    color: var(--primary-color);
}

.btn-ghost:hover {
    color: var(--light-color);
}
