.btn {
    border: 1px solid #e63345;
    border-radius: 200px;
    padding: 10px 30px;
    margin-right: 30px;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
    background-color: #b61626;
    border: 1px solid #b61626;
}

.btn-full {
    color: white;
    background-color: #e63042;
}

.btn-ghost {
    color: #e63042;
}

.btn-ghost:hover {
    color: white;
}
