.course-topics > li > p {
    background-color: #eee;
    cursor: pointer;
}

.course-topics > li {
    margin-bottom: 5px;
}

.course-topics p {
    border: 1px solid #aaa;
    padding: 0.5rem;
}

.course-topics ul p {
    padding-left: 2.5rem;
}

.course-topics .show-button,
.course-topics .hide-button {
    display: inline-block;
    width: 1rem;
}

.course-topics .hide .hide-button,
.course-topics .show .show-button {
    display: none;
}

.course-topics .delete-btn {
    color: var(--danger-color);
    border: none;
    padding-right: 5px;
}
