.resource {
    &__complete {
        margin: 5rem 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        &-text {
            display: inline-flex;
            justify-content: space-between;
            font-size: 2rem;
            > * {
                margin: 0 1rem;
            }

            .tick {
                font-size: 4rem;
                color: $color-success;
                transform: scaleX(1.5);
            }

            .complete-text {
                padding-top: 1rem;
                font-weight: 300;
            }

            Button {
                font-size: inherit;
                border-radius: 1px;
            }
        }
    }
}

.video {
    &__input {
        margin: 2rem;
        width: 80%;
    }

    &__container {
        position: relative;
        padding-top: 56.25%;
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.text__heading {
    font-size: 4rem;
    font-weight: 300;
    border-bottom: 0.8px solid $color-grey-2;
}

/* Test */
.test-view {
    &__heading {
        font-size: 4rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-grey-2;
        padding: 2rem;
    }

    &__text {
        &--small {
            font-size: 1.4rem;
            color: $color-grey-3;
        }
        &--grey {
            color: $color-grey-3;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__grade {
        display: flex;
        align-items: center;
        padding: 2rem;
        border-left: 1px solid $color-grey-2;
    }
}

.test {
    position: absolute;
    top: -135px;
    left: 0;
    width: 100vw;
    height: calc(100vh + 135px);
    background-color: $color-white;
    overflow: scroll;
    padding-top: 5.6rem;
    z-index: 101;

    &__bar {
        display: flex;
        padding: 1.5rem;
        border-bottom: 1px solid $color-grey-3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-white;
    }

    &__content {
        max-width: 960px;
        margin: 4rem auto;
        margin-top: calc(4rem + 135px);
    }

    &__question-list {
        border-top: 1px solid $color-grey-2;
        border-bottom: 1px solid $color-grey-2;
        padding: 2rem;
    }

    &__question {
        padding-left: 1rem;
        padding-right: 10rem;
        margin-bottom: 8rem;
        position: relative;
        border: 1px solid transparent;
        border-radius: 5px;

        &::after {
            content: '1 score';
            font-size: 1.4rem;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            border: 1px solid $color-grey-2;
            padding: 0rem 1rem;
            border-radius: 10rem;
        }

        &--true::marker,
        &--false::marker {
            font-size: 4rem;
            color: $color-primary;
            font-size: 4rem;
            color: $color-primary;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }

        &--true {
            border: 1px solid $color-success;
            &::marker {
                content: '\2713';
            }
        }

        &--false {
            border: 1px solid $color-danger;
            &::marker {
                content: '\2715';
            }
        }
    }

    &__label {
        display: block;
        margin: 1rem 0;
        transition: color 0.2s;

        &:hover {
            color: $color-primary;
        }
    }

    &__input {
        margin-right: 1rem;

        &--text {
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border: 1px solid $color-grey-2;
            border-radius: 5px;
            transition: border 0.2s;

            &:focus {
                border: 1px solid $color-primary;
            }
        }
    }

    &__submit {
        margin-top: 4rem;
        text-align: right;
    }

    &__score {
        padding: 1px 0;

        &--true {
            background-color: rgba($color-success, 0.1);
        }

        &--false {
            background-color: rgba($color-danger, 0.1);
        }

        &--grade {
            padding-left: 4rem;
            border-left: 1px solid $color-grey-2;
            margin-left: 4rem;
        }

        &--true &--result {
            margin-bottom: 1rem;

            &::before {
                content: 'Congratulations! You passed!';
            }
        }

        &--false &--result {
            margin-bottom: 1rem;

            &::before {
                content: 'Try again once you are ready';
            }
        }
    }

    &__score &__content {
        display: flex;

        &::before {
            font-size: 4rem;
            margin-right: 2rem;
        }
    }

    &__score--true &__content::before {
        content: '\2713';
        color: $color-success;
    }

    &__score--false &__content::before {
        content: '\21';
        color: $color-danger;
    }

    &__right {
        margin-left: auto;
    }
}

.test-edit {
    &__header {
        display: flex;
        align-items: center;

        &--right {
            margin-left: auto;
        }
    }

    &__pass-score {
        width: 5rem;
        text-align: center;
    }

    &__info {
        display: inline-block;
        font-size: 1.5rem;
        margin-top: 0.5rem;

        &::before {
            content: '\2139';
            display: inline-block;
            border: 1px solid $color-black;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            text-align: center;
            margin-right: 0.5rem;
        }
    }

    &__list {
        margin-top: 2rem;
        margin-bottom: 7rem;
        padding-top: 2rem;
        border-top: 1px solid $color-grey-2;

        li:first-child::marker {
            content: '';
        }
    }

    &__question {
        position: relative;

        &--new {
            margin: 2rem 0;
        }
    }

    &__option {
        margin: 1rem 0;
        display: block;

        &--new {
            cursor: pointer;
            transition: color 0.2s;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__num-input {
        width: 7rem;
        text-align: center;
    }

    &__delete-btn {
        position: absolute;
        right: 0;
        transform: translateY(-4rem);
        color: $color-danger;
        cursor: pointer;
    }
}
