.video {
    &__input {
        margin: 2rem;
        width: 80%;
    }

    &__container {
        position: relative;
        padding-top: 56.25%;
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.text__heading {
    font-size: 4rem;
    font-weight: 300;
    border-bottom: 0.8px solid $color-grey-2;
}

/* Test */
.test-heading {
    font-size: 2.125rem;
    line-height: 2.625rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.submit-test,
.student-score {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--grey-color);
}
.student-score-left > h3,
.submit-test-left > h3,
.grade > h3 {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.student-score-left > .small-text,
.submit-test-left > .small-text {
    color: var(--dark-grey-color);
    font-size: 0.7rem;
}

.student-score-right {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--grey-color);
}

.grade {
    padding: 0 1rem;
}

.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test-bottom {
    margin-bottom: 10rem;
}
