.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 2rem 10%;
    z-index: 100;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-3;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 0 2.4rem;

        &:not(&--join) {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 50%;
                display: inline-block;
                width: calc(100% - 4.8rem);
                max-width: 0;
                border-bottom: 3px solid $color-primary;
                transition: max-width 0.2s;
                transform: translate(-50%, -50%);
            }

            &:hover::after {
                max-width: 10rem;
            }
        }
    }
}
