.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 2rem 10%;
    z-index: 100;
    background-color: $color-white;
    box-shadow: 0px 1px 2px 1px rgba($color-black, 0.5);

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 3rem 2.4rem;

        &--border {
            border-bottom: 1px solid $color-grey-1;
        }
    }

    &__link {
        transition: color 0.2s;
        cursor: pointer;
        display: inline-block;
        padding: 3rem 2.4rem;

        &:hover {
            color: $color-primary;
        }
    }

    &__auth-list-container {
        position: relative;
    }

    &__auth-list-container:hover &__auth-list {
        max-height: 50rem;
        box-shadow: 0px 1px 2px 1px rgba($color-black, 0.5);
    }

    &__auth-list {
        position: absolute;
        right: 0;
        top: calc(6rem + 2px);
        min-width: 20rem;
        background-color: $color-white;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        overflow: hidden;
        transition: all 0.37s linear;
        max-height: 0;
    }

    &__auth-list &__link,
    &__auth-list &__item {
        padding: 1rem 2.4rem;
        width: 100%;
        white-space: nowrap;
    }

    &__user {
        &--name {
            font-weight: 700;
            font-size: 2.5rem;
        }

        &--email {
            font-size: 1.5rem;
            color: $color-grey-3;
        }

        &--img {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-white;
            font-weight: 600;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
