@keyframes loading-dots {
    0% {
        width: 0;
    }
    24% {
        width: 0;
    }
    25% {
        width: 1rem;
    }
    49% {
        width: 1rem;
    }
    50% {
        width: 2rem;
    }
    74% {
        width: 2rem;
    }
    75% {
        width: 3rem;
    }
}

@keyframes loading-circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1.05);
    }
}
