.u-center-text {
    text-align: center !important;
}

.u-margin-left-small {
    margin-left: 2rem !important;
}

.u-margin-right-small {
    margin-right: 2rem !important;
}

.u-margin-left-medium {
    margin-left: 4rem !important;
}

.u-margin-right-medium {
    margin-right: 4rem !important;
}
